body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h1{
    font-size: 70px;
    font-weight: bold;
    color: white;
    padding: 0px;
}

a:link, a:visited{
    color:white;
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
    margin: 0;
    padding: 0%;
}

#process{
    text-align: center;
    color: black;
}

h2,h3{
    font-weight: bold;
}

p{
    font-size: 14px;
}